@import "../styles/variables.scss";

.sortable-list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 1rem;
  padding: 1rem;
  color: $color-black;
  background: white;
  border-radius: 0.5rem;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    height: 2rem;
    left: 1rem;
    background: $color-black;
    filter: blur(0.5rem);
    z-index: -1;
    opacity: 0.5;
  }

  .sortable-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: start;
    list-style: none;
    grid-row-gap: 0.25rem;
    width: 320px;
    margin: 0;
    padding: 0;
  }

  .button-group {
    display: flex;
    grid-gap: 0.5rem;

    button {
      border: none;
      outline: none;
      padding: 0.5rem 0.5rem;
      background: transparent;
      border-radius: 0.2rem;
      font-size: 0.875rem;
      color: $color-active;
      cursor: pointer;
      position: relative;
      transition-property: background color;
      transition-timing-function: ease;
      transition-duration: 0.15s;

      &:hover {
        background: $color-highlight;
      }

      &:focus {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          border: 4px solid $color-active;
          box-sizing: border-box;
        }
      }

      &:active {
        background: $color-active;
        color: white;
        transition-duration: 0s;
      }

      &:disabled {
        color: rgba($color-black, 0.4);
        background: $color-background;
        background: transparent;
        text-decoration: line-through;
      }
    }
  }
}
