@import "./styles/variables.scss";

.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
  grid-gap: 1rem;
  padding: 1rem;
  color: $color-black;
  background: white;
  border-radius: 0.5rem;
  width: 320px;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    height: 2rem;
    left: 1rem;
    background: $color-black;
    filter: blur(0.5rem);
    z-index: -1;
    opacity: 0.5;
  }
}

@media screen and (max-width: 600px) {
  .list-container {
		width: 100%;
		height: 100%;
		padding: 1rem;

		&:before{
			display: none;
		}
  }
}
